In [1]:
print("hellow world")

hellow world

In [2]:
#use .format method to print
#it works every time, don't need to worry about the types
print("{}, it's {}".format("hey","ok"))

hey, it's ok

In [6]:
#Data types
# https://www.w3schools.com/python/python_datatypes.asp
x = 5.5
print(type(x))
y = True
print(type(y))

<class 'float'>
<class 'bool'>

In [ ]:
#types of arrays
# list (use more)
# typle
# set
# dictionary(use more) (indexed, but can't have duplicate members)

In [9]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)
print(thislist[2])
print(type(thislist[2]))

['apple', 'banana', 'cherry', 'orange']
cherry
<class 'str'>

In [11]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
for x in thisdict:
  print(x)
for x in thisdict.values():
  print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
brand
model
year
Ford
Mustang
1964

In [13]:
a = 33
b = 33
c = 54
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

if a==b and c<60:
    print("yeah, c is {}".format(c))

a and b are equal
yeah, c is 54

In [17]:
#letter
for letter in 'myName':
    print(letter)

m
y
N
a
m
e

In [20]:
for bob in range(5):
    bob *= 2
    print(bob)

0
2
4
6
8

In [22]:
#function
def my_function():
  print("Hello from a function")

my_function()

def my_function2(fname):
  print(fname + " Refsnes")

my_function2("Emil")
my_function2("Tobias")

Hello from a function
Emil Refsnes
Tobias Refsnes

In [23]:
#keywords
# https://www.w3schools.com/python/python_ref_keywords.asp

In [24]:
#import using ..